body {
    background-color: #FDFDFF;

    color: #163152;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;

    margin: 0;
    padding: 0;


}

ul {
    margin: 0;
}

figure {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;

    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

main {
    width: 1280px;
    margin: 0 auto;
}

/* NAVIGATION */

.main-header {
    width: 1280px;
    margin: 0 auto 40px;
    padding: 20px 0;
}

.main-nav {
    width: 1170px;
    display: flex;
    align-items: center;

    margin: 0 auto;
}

.logo {
    margin-right: 470px;
}

.logo img {
    display: block;
}

.site-navigation {
    display: flex;
    gap: 30px;

    margin-right: 40px;
    padding: 0;
    list-style: none;
}

.site-navigation-item a {
    font-size: 14px;
    line-height: 18px;
    color: #163152;

    text-decoration: none;
    text-transform: uppercase;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #00C6BD;
    border-radius: 50%;

    margin-left: auto;
    width: 36px;
    height: 36px;
}

.user-icon img {
    display: block;
}

/* HERO */

.hero {
    width: 1170px;
    margin: 0 auto 120px;
}

.hero img {
    display: block;
}

.hero h1 {
    font-style: italic;
    font-size: 44px;
    line-height: 60px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 40px 70px;
}

/* EVENT */

.event {
    display: flex;
    justify-content: space-between;

    width: 1030px;
    margin: 0 auto 100px;
}

.event h2 {
    margin-bottom: 35px;
}

.event-last {
    flex-direction: row-reverse;
    margin-bottom: 120px;

    text-align: end;
}

.event-column {
    width: 400px;
}

.event--image {
    width: 600px;
}

.event--date {
    font-size: 14px;
    line-height: 18px;
}

/* RENT */

.rent {
    width: 1170px;
    margin: 0 auto 120px;
}

.rent h2 {
    margin-bottom: 55px;
}

.rent-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    margin: 0;
    padding: 0;
    list-style: none;
}

.rent-card {
    box-sizing: border-box;
    width: 370px;

    box-shadow: 0px 4px 30px rgba(22, 49, 82, 0.12);

    padding: 30px;

    display: flex;
    flex-direction: column;
}

.rent-card img {
    display: block;
    order: -1;
    padding: 0;
    margin: 0 0 21px;
}

.rent-card h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    margin: 0 0 18px;
}

.rent-card p {
    font-size: 14px;
    margin: 0 0 15px;
}

.rent-card ul {
    padding: 0;
    margin: 0 0 29px;
    list-style: inside;
}

.rent-card li {
    font-size: 14px;
    line-height: 19px;
    padding: 0;
    margin: 0 0 4px;
}

.rent-card li:last-child {
    margin-bottom: 0;
}

.rent-card span {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 0;
}

p.yacht-price {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/* GALLERY */

.gallery {
    width: 1170px;
    margin: 0 auto 120px;
}

.gallery h2 {
    text-align: center;

    margin-bottom: 55px;
}

.gallery-wrapper {
    display: flex;
    justify-content: space-between;
}

.gallery-preview {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;

    width: 170px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-preview img {
    display: block;
}

.gallery-preview a {
    position: relative;
    display: block;
}

.gallery-preview a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(253, 253, 255, 0.5);
}

.gallery-preview a.active-item::before {
    background-color: transparent;
}

.active-photo {
    display: block;
}

/* NEWS */

.news {
    width: 770px;

    margin: 0 auto 120px;
}

.news h2 {
    text-align: center;

    margin-bottom: 55px;
}

.news h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    margin-top: 24px;
    margin-bottom: 27px;
}

.news p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
}

.news-teams-list-title {
    font-size: 20px;
}

.news-teams-list {
    list-style: inside;

    margin: 15px 0 30px;
    padding: 0;
}

.news-teams-list-item{
    font-size: 18px;
    line-height: 26px;
}

.news-img figcaption {
    color: #8693A4;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 33px;
}

.news-img img {
    display: block;
    margin: 0 0 17px;
}

.news blockquote {
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;

    padding: 0 0 0 20px;
    margin: 38px 0 30px;

    border-left: 2px solid #00C6BD;
}

.news-footer {
    padding: 0;
    margin: 40px 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news .author-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.news .author-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    padding: 0;
    margin: 0 0 9px;
}

p.news-date {
    color: #8693A4;
    font-size: 16px;
    line-height: 19px;

    margin: 0;
    padding: 0;
}

/* CONTACTS */

.contacts {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;

    justify-content: start;

    width: 1010px;
    margin: 0 0 120px 55px;
}

.contacts-wrapper {
    width: 240px;
}

address {
    display: inline-block;
}

.contacts h2 {
    margin-bottom: 35px;
}

.contacts-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.contacts-list li {
    margin-bottom: 15px;
}

.contacts-list h3 {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;

    margin-right: 10px;
}

.contacts-list-item-data {
    color: #163152;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

.social-media-list {
    margin: 15px 0 0;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 15px;
}

.social-media-list-item a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border: 1px solid #00C6BD;
    border-radius: 50%;
}

/* FOOTER */

.main-footer{
    width: 1280px;
    margin: 120px auto 0;
    padding: 60px 0;


    font-size: 10px;
    line-height: 12px;

    border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.footer-logo {
    display: block;
    margin-bottom: 30px;
}

.footer-logo img {
    display: block;
}

.footer-logo-wrapper {
    margin-right: auto;
}

.copyright-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 32px;
}

.main-footer a {
    color: #163152;
    text-decoration: none;
}

.main-footer h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-nav{
    font-size: 14px;
    line-height: 16px;

    display: flex;
    justify-content: space-between;

    margin-left: auto;

    width: 870px;
}

.main-footer ul{
    list-style: none;
    padding: 0;
}

.footer-nav-list-item ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 120px;
}

.footer-wrapper {
    display: flex;

    width: 1170px;
    margin: 0 auto;
}

.footer-nav h3 {
    margin-bottom: 20px;
}

.crossed {
    text-decoration: line-through;
}

.site-navigation-item a:hover, .user-icon:hover, .social-media-list-item a:hover, .share-button:hover {
    opacity: 0.5;
}

.site-navigation-item a:active, .user-icon:active, .social-media-list-item a:active, .share-button:active {
    opacity: 0.3;
}
